<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Url</title>
  </head>
  <body>
    <h1>SHORTEN A URL</h1>
    <form action="/urls" method="post">
      <label for="originalUrl">Original URL: </label>
      <input type="text" name="originalUrl" value="">
      <label for="shortenedUrl">Shortened URL:</label>
      <input type="text" name="shortenedUrl" value="">
      <input type="submit" name="submit" value="Shorten">
    </form>
  </body>
</html>
